
.margin-t{
    margin-top:1% !important;   
}

.margin-b{
    margin-bottom:10% !important;
}

.limit{
    width:100%;
    word-wrap: break-word;
    /* border-radius: 12px;
    padding-top: 5%; */
}

.gray-color{
   background-color: #f1f4f8!important;
}

.white-color{
   background-color: white!important;
}

.pad-section{
    padding-top: 8%;
    padding-bottom: 10%;
}